/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}
*{
    box-sizing: border-box;

} */



                        /* HEADER */
/* header{
    background: #2c3e50;
    height: 175px;
}

#logo{
    padding: 15px;
    text-align: center;
} */

#logo {
    float: left;
    width: 25%;
    padding: 15px;
    text-align: center;
  }
  
  button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 350%;
    color: #2d5c7f;
  }


                        /* NAV */
.ancreNav{
    display: flex;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

li{
    padding: 5px;
    /* background-color: blue; */
    border: 1px solid white;
}



*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    background-image: url(../img/concrete-texture.png);
    /*Effet de scroll lorsqu'on clique sur une ancre mais ne marche que sur FireFox ou pas du tout
    scroll-behavior: smooth;*/
}
h1{
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    color:#2980b9;
    text-align: center;
    letter-spacing: 1px;
}
h2{
    font-size: 35px;
    color:#2c3e50;
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
}
h3{
    font-size: 22px;
    color:#2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}
h4{
    text-align: center;
    margin-top: 30px;
}

/**************HEADER INDEX****************/
header{
    background: #2c3e50;
    height: 175px;
}
#logo{
    float: left;
    width: 25%;
    padding: 15px;
    text-align: center;
}
#slogan{
    float: left;
    width: 50%;
    padding-top: 50px;
}
#social{
    float: left;
    width: 25%;
}
#social i{
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0;
    display: block;
}
header a{
    color: #2980b9;
    text-decoration: none;
}
/*******************FIN HEADER*********************/

/**************DEBUT NAV********************/
nav {
    background :#2980b9;
    height: 70px;
    border-bottom: 8px solid #6ACAFC;
    text-align: center;
    padding: 15px;
}
nav a{
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0px;
    border : 2px solid white;
    background:  #6ACAFC;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: oswald;
    transition: 0.5s;
}
nav a:hover{
    background: #A6D6C3;
    color: white;
}
.activ{
    background: #2c3e50;
    color: white ;
}
/**************FIN NAV********************/
/*FAIRE LE ZONING AVEC DES HAUTEUR ET LARGEUR AVANT DE PLACER LES ELEMENTS DANS LES ZONES POUR ENSUITE SUPPRIMER LES HAUTEURS*/
main{
    background: rgba(178,178,178,0.30);
    width: 1000px;
    margin: 0 auto;
}
aside{
    height: 250px;
    background: #A6D6C3;
}
section{
    margin-top: 50px;
/*    background: #DAF7A6;*/
    padding: 20px;
}
footer{
    background: #2980b9;
    height: 30px;
    text-align: right;
    padding: 5px 10px;
}

/* *************** PAGE LISTE : DEBUT **********************/

/* ////// Section 1 (LISTE) ////// */

.p_listes_sect1{
    margin: 0;
}

.p_listes_sect1_txt{
    justify-content: start;
    margin-top: 10px;
    padding: 0%;
}

.p_listes_sect1_txt li{
    margin-right: 10px;
}

.p_listes_sect1_txt i{
    color: blue;
}

.p_listes_sect1_txt i:hover{
    font-size: 20px;
    color: red;
}

/* ////// Section 2 (LISTE) ////// */

.p_listes_sect2 ol{
    margin-top: 10px;
}


/* ////// Section 3 (LISTE) ////// */
.continent li{
    /* display:list-item; */
    list-style-type: disc;
}

.continent>li>a{
    /* display:list-item; */
    list-style-type: disc;
    color: black;
}

.pays li{
    /* display:list-item; */
    list-style-type: circle;
    list-style-position: inside;
}

.pays>li>a{
    color: black;
}
.pays>li>a:hover{
    background-color: red;
    font-size: 200%;
    box-shadow: grey 5px 10px 10px;
    transition-duration: 1s;
}

.continent,
.pays{
    flex-direction: column;
}

.continent{
    margin-top: 10px;
}

.continent ul{
    display: none;
}

.continent li:hover ul {
    display: block;
  }


  /* ////// Section 4 (LISTE) ////// */

.p_listes_sect4_p{
    margin-bottom: 10px;
}

/*------------------- PAGE LISTE : FIN --------------------*/

/*********************** PAGE LIEN ET MENU : DEBUT ******************/
ul{
    display:flex;
    justify-content: center;
    }
    
ul.lien1 li {
    margin: 8px;
    padding: 5px 10px;
    border-radius: 15px;
    background: #2c3e50;
    color: white;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0px 0px 10px 3px black;
    font-family: oswald;
}

ul.lien1 li:hover{
    box-shadow: none;
}

/* Section 2 (LIEN ET MENU )*/

.sect2_lienEtMenu a{
    color: #2980b9;
}

.sect2_lienEtMenu a:hover{
    color: #eb651d;
}

/* Section 3 (LIEN ET MENU )*/

ul.lien3 li {
    margin: 8px;
    padding: 5px 10px;
    border-radius: 15px 0 15px 0;
    color: gray;
    border: 2px solid white;
    font-size: 20px;
    font-family: oswald;
}

ul.lien3>li a{
    color: gray;
}

/* Section 4 (LIEN ET MENU )*/

ul.lien4 li {
    margin: 8px;
    padding: 5px 20px;
    border-radius: 15px 0 15px 0;
    color: gray;
    border: 2px solid white;
    font-size: 20px;
    font-family: oswald;
    background-color: #6ACAFC;
}

ul.lien4>li a{
    color: black;
}

.sect4_lienEtMenu>div{
    background-color: rgb(210, 208, 208);
    margin: auto;
    width: 80%;
}

/* CODE MITRA - avec transition (LIEN ET MENU )*/

#menu nav {
    background: transparent;
    border: none;
  }
  
  #menu ul {
    list-style: none;
    text-align: center;
  }
  
  #menu ul li {
    display: inline-block;
  }
  
  #menu nav a {
    padding: 10px;
    color: grey;
    text-decoration: none;
    background: #ddd;
    transition: 1s ease-in;
  }
  
  #menu nav a:hover {
    color: #fff;
    background: #069;
  }



/*------------------- PAGE LIEN ET MENU : FIN --------------------*/

/* *************** PAGE MULTIMEDIA  : DEBUT **********************/
/* .video_txt,
iframe{
    width: 100%;
} */
/*------------------- PAGE MULTIMEDIA : FIN --------------------*/

/* *************** PAGE TABLEAU  : DEBUT **********************/

table,
tr,
td{
    border: 1px solid #007abc;
    border-collapse: collapse;
    text-align: center;
}

.tableau_sect1{
    text-align: center;
}

td{
    height: 30px;
}

thead,
tfoot{
    background-color: #6ACAFC;
}

table{
    margin: auto;
    width: 90%;
}

/*------------------- PAGE TABLEAU : FIN --------------------*/


/* *************** PAGE ZONING  : DEBUT**********************/

/* --- Zoning 1 --- */
.maquette{
   width: 80%;
   margin: auto;
}

section div{
    text-align: center;
}

.main{
    height: 500px;
    display: flex;
}

.header{
    background-color: #f7f39a;
    height: 50px;
}
.gauche{
    background-color: #a3de82;
    width: 20%;
}
.droite{
    background-color: #38817a;
    width: 80%;
}

/* --- Zoning 2 --- */

.maquette2{
    width: 60%;
    margin: auto;
 }

.aside{
    background-color: #10828c;
    width: 25%;
}
.milieu{
    background-color: #0d3046;
    width: 50%;
}

/* --- Zoning 3 --- */

.gauche2{
    background-color: #a3de82;
    width: 50%;
}
.droite2{
    background-color: #38817a;
    width: 50%;
}

.b_footer{
    background-color: #f7f39a;
    height: 50px;
}

/* --- Zoning 4 --- */

.main_sect4{
    background-color: #10828c;
    width: 100%;
    border: 20px solid white;
}

.nav_sect4{
    height: 50px;
    background-color: #6dafb5;
}

.ss_nav_sect4{
    border: 5px solid #a3de82;
    margin: 0%;
    padding: 0%;
}

/* --- Zoning 5 --- */

.sect_border{
    border: 2px solid black;
}
.z1,
.z2{
    display: flex;
    width: 100%;
}
.z1 div,
.z2 div{
    width: 50%;
    height: 200px;
}

.sect5{
    border: 20px solid white;  
}

.zone1{
    background-color: #d7bc6b;
}

.zone2{
    background-color: #fce389;
}

/* --- Zoning 6 --- */

.section6{
    color: white;
}

.haut_6,
.ab_s6,
.lettre_s6{
    display: flex;
}

.haut_6{
    height: 150px;
}

.haut_s6_aside{
    background-color: #223462;
    width: 25%;
}

.haut_s6_milieu{
    background-color: #3e578f;
    width: 50%;
}

.menu_s6{
    background-color: #10828c;
    height: 30px;
}

.main_s6{
    height: 500px;
    display: flex;
}

.zone_gauche_s6{
    width: 20%;
    background-color: #2c3e50;
}

.zone_droite_s6{
    width: 80%;
}

.a{
    width: 50%;
    background-color: #c0c4cd; 
}
.b{
    width: 50%;
    background-color: #223462; 
}

.ab_s6{
    height: 200px;
}

.slide_s6{
    height: 200px;
    background-color: #314a51;
}

.lettre_s6{
    width: 100%;
}

.CE_s6{
    width: 50%;
    background-color: #c0c4cd;
}
.DF_s6{
    width: 50%;
    background-color: #223462;
    height: 100px;
}

.bas_s6{
    background-color: #10828c;
    height: 50px;
}
/*------------------- PAGE ZONING : FIN --------------------*/

